<div class="rectangle-div">

    <h1>Pick a Class</h1>
    <h2>Or roll a d12 to randomly select one!</h2>

    <form action="/character-class" method="POST">
        <button type="submit" id="randomRollButton" value="d12" name="diceNotation">
            <img src="<%= baseURL %>img/dice/d12.png" alt="A twelve sided dice" class="dice-icon">
        </button>
    </form>

    <form action="/character-class" method="POST">
        <div class="grid">
            <% classList.forEach(characterClass=> { %>
                <div class="cards">
                    <h3>
                        <%= characterClass.name %>
                    </h3>
                    <p>
                        <%= characterClass.description %>
                    </p>
                    <p>
                        Primary Ability: <%= characterClass.primaryAbility %>
                    </p>
                    <button type="submit" class="select-btn" name="characterClass"
                        value="<%= characterClass.name %>">Select
                        <%= characterClass.name %>
                    </button>
                </div>
                <% }) %>
        </div>
    </form>
</div>