<h1>Pick a Species</h1>
<h2>Or roll a <button id="rollSpeciesButton">d8</button> to randomly select one!</h2>
<!-- här ska ju då modulens kopplas in för tärningsrullningslogiken på något vänster -->
<!-- genom eventlistener och ett script? -->

<form action="/character-species" method="POST">
    <ul>
        <% speciesList.forEach(species => { %>
            <li>
                <h3>
                    <%= species.name %>
                </h3>
                <p>
                    <%= species.description %>
                </p>
                <p>
                    <% for (const [key, values] of Object.entries(species.bonuses)) { %>
                        <strong>
                            <%= key %> +<%= values %>
                        </strong><br>
                        <% } %>
                </p>
                <button type="submit" class="select-species-button" name="characterSpecies"
                    value="<%= species.name %>">Select <%= species.name %></button>
            </li>
            <% }) %>
    </ul>
</form>

<!-- varje species ska få en bild med -->